### 1.	Write a Python program to convert kilometers to miles?

In [20]:
km = int(input('Enter the value in kilometers: '))
mile = km*0.621371
print(f'In {km} kilometers, there are {mile} miles')

Enter the value in kilometers: 5
In 5 kilometers, there are 3.106855 miles

### 2.	Write a Python program to convert Celsius to Fahrenheit?

In [19]:
C = int(input("Enter the value in celsisus: "))
F = (9/5)*C+32.
print("%0.1f celsius is equal to %0.1f fahrenheit"%(C,F))

Enter the value in celsisus: 37
37.0 celsius is equal to 98.6 fahrenheit

### 3.	Write a Python program to display calendar?

In [22]:
import calendar

print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [24]:
y = int(input("Enter Year: "))
m = int(input("Enter Month: "))


print(calendar.month(y,m))

Enter Year: 1996
Enter Month: 9
   September 1996
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

### 4.	Write a Python program to solve quadratic equation?

In [43]:
import math

In [62]:
def quadratic_equation():
    
    a = int(input('Enter the value of a: '))
    b = int(input('Enter the value of b: '))
    c = int(input('Enter the value of c: '))
    
    try:
        sol1 = (-b - math.sqrt(b**2 - 4*a*c))/2*a
        sol2 = (b - math.sqrt(b**2 - 4*a*c))/2*a
        print(sol1)
        print(sol2)
    except:
        print('Please check the values and try again')

In [63]:
quadratic_equation()

Enter the value of a: 2
Enter the value of b: 8
Enter the value of c: 4
-13.65685424949238
2.3431457505076194

### 5.	Write a Python program to swap two variables without temp variable?

In [67]:
x = int(input('Enter the value of x: '))
y = int(input('Enter the value of y: '))

# Before Swaping

print(f'a: {a} and b is :{b}')

a=a+b
b=a-b
a=a-b

# After Swaping

print(f'a: {a} and b is :{b}')

Enter the value of x: 5
Enter the value of y: 8
a: 8 and b is :2
a: 2 and b is :8